.charts {
    display: flex;
    flex-wrap: wrap;
}

.charts > div {
    width: 50%;
}

/* div that contains #cm */
/* .charts > div:last-child {
    height: 300px;
} */

#cm {
    width: 100%;
    height: 100%;
    background-image: url("");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}