{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='index/style.css') }}">
{% endblock %}

{% block head %}
<title>Accident Detection</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Accident Detection</h1>

    <form action="{{ url_for('form_submitted') }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="file" class="form-label">Upload a video</label>
            <input class="form-control" type="file" id="file" name="file" required>
        </div>
        
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="backbone_name">
                <option selected value="Mobile-Net">Mobile-Net</option>
                <option value="Dense-Net 121">Dense-Net 121</option>
                <option value="Inception v3">Inception v3</option>
                <option value="CBAM">CBAM</option>
                <option value="SE">SE</option>
                <!-- {% for name in backbone_info_name %}
                    <option value="{{ name }}">{{name}}</option>                
                {% endfor %} -->
            </select>
        </div>

        <div class="mb-3">
            <select class="form-select" aria-label="Default select example 2" name="temporal_model">
                <option selected value="Conv3D">Conv3D</option>
                <option value="ConvLSTM">ConvLSTM</option>
                <option value="Bi-ConvLSTM">Bi-ConvLSTM</option>
                <option value="TAConv3D">TAConv3d</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="startTimestamp" class="form-label">Starting timestamp</label>
            <input class="form-control" type="number" placeholder="Default input" aria-label="default input example" id="startTimestamp" min="0" name="start" required>
        </div>
        
        <div class="mb-3">
            <label for="endTimestamp" class="form-label">Ending timestamp</label>
            <input class="form-control" type="number" placeholder="Default input" aria-label="default input example" id="endTimestamp" min="0" name="end" required>
        </div>

        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Coming soon ^_^</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This model has not been trained yet, please choose another one. 
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Choose again</button>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    window.onload = () => {
        {% if no_model is defined %}
            $('#modal').modal('toggle');
        {% endif %}
    }
</script>

<script src="{{ url_for('static', filename='index/script.js') }}"></script>
{% endblock %}
