{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='statistics/style.css') }}">
{% endblock %}

{% block head %}
<title>Statistics</title>
{% endblock %}

{% block body %}
<div class="container">
    <h3>Backbone and Model training curves</h3>
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  All
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-item" href="#" id="v-pills-all-tab">All</li>
                    {% for info in backbone_info %}
                        {% set name = info.name.replace(" ", "").lower() %}
                        <li class="dropdown-item" href="#" id="v-pills-{{ name }}-tab" >{{ info.name }}</li>
                    {% endfor %}
                </ul>
              </div>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            {% for info in backbone_info %}
                {% set name = info.name.replace(" ", "").lower() %}
                <div class="tab-pane fade {{ 'active' if loop.index == 1 else '' }}" id="v-pills-{{ name }}" role="tabpanel" aria-labelledby="v-pills-{{ name }}-tab">{{ info.name }}</div>
            {% endfor %}
        </div>
    </div>

    

    <div class="charts">
        <div>
            <canvas id="model-train-accuracy-chart"></canvas>
        </div>
        
        <div>
            <canvas id="model_val_accuracy"></canvas>
        </div>
        
        <div>
            <canvas id="model_train_loss"></canvas>
        </div>
        
        <div>
            <canvas id="model_val_loss"></canvas>
        </div>

        <div>
            <canvas id="ROC-chart"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    class BackboneInfo {
        constructor(name, fpr, tpr, tresholds, auc, backbone_train_accuracy, backbone_val_accuracy, backbone_train_loss, backbone_val_loss, model_train_accuracy, model_val_accuracy, model_train_loss, model_val_loss) {
            this.name = name;
            this.fpr = fpr;
            this.tpr = tpr;
            this.tresholds = tresholds;
            this.auc = auc;
            this.backbone_train_accuracy = backbone_train_accuracy;
            this.backbone_val_accuracy = backbone_val_accuracy;
            this.backbone_train_loss = backbone_train_loss;
            this.backbone_val_loss = backbone_val_loss;
            this.model_train_accuracy = model_train_accuracy;
            this.model_val_accuracy = model_val_accuracy;
            this.model_train_loss = model_train_loss;
            this.model_val_loss = model_val_loss;

            this.epochs = [...Array(model_train_accuracy.length).keys()]; // creat array from 0->n-1
            this.epochs.shift(); // remove 0 => 1->n-1
            this.epochs.push(model_train_accuracy.length) // add n => 1->n
        }
    }
    
    const backbone_info = [];
    {% for info in backbone_info %}
        backbone_info.push(
            new BackboneInfo(
                "{{ info.name }}",
                {{ info.fpr }},
                {{ info.tpr }},
                {{ info.tresholds }},
                {{ info.auc }},
                {{ info.backbone_train_accuracy }},
                {{ info.backbone_val_accuracy }},
                {{ info.backbone_train_loss }},
                {{ info.backbone_val_loss }},
                {{ info.model_train_accuracy }},
                {{ info.model_val_accuracy }},
                {{ info.model_train_loss }},
                {{ info.model_val_loss }}
            ));
    {% endfor %}
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='statistics/script.js') }}"></script>
{% endblock %}
