{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='statistics/style.css') }}">
{% endblock %}

{% block head %}
<title>Statistics</title>
{% endblock %}

{% block body %}
<div class="container">
    <h3>Model overview</h3>
    Our experimented models, in general, can be interpreted as 3 main modules:
    <ul>
        <li>Spacial features extractor module</li>
        <li>Temporal features extractor module</li>
        <li>Decision maker module</li>
    </ul>

    <h4>Spacial features extractor module (backbone)</h4>
    The first part of the models is designed as an automatic feature extractor for each frame of video segement. Here, by utilizing some of the most popular pretrained models, which are mainly used for image classifying task, like Mobile-Net, Dense-Net, Inception, etc.
    Using transfer learning technique, with the help of the <a href="#">Accident image dataset</a>, the pretrained models have properly adjusted its weights to recognize accident features, ready to become the spatial extractor for the accident detection model.
    Or with the built-from-scratch models, they would be trained directly.
    After transfer learning (using the same image dataset mentioned before) or training, we have experimented by pluging them one by one to the main purpose model (freezing all the weights), then compare the result to se which one does the best job.
    A time distributed is wrap arount this module so that it could go through all frames in the video segemnt, make it ready for taking the next step, input to the emporal features extractor module.
    <br>
    <br>
    Experimented backbones:
    <ul>
        <li>Mobile-Net</li>
        <li>Inception</li>
        <li>Dense-Net</li>
        <li>Res-Net+SE</li>
        <li>Res-Net+CBAM</li>
    </ul>

    <h4>Temporal features extractor module</h4>
    After each frames has been extracted it accident features, which are independent from the temporal feature, the features of a frame has no information about the features of previous frames, which isn't an efficient way to interpret an accident context.
    Because of that, bringing the temporal features extractor module as the next module, continuous processing the time axis of videos.
    <br>
    <br>
    Experimented Temporal features extractors:
    <ul>
        <li>Conv3D</li>
        <li>ConvLSTM</li>
        <li>Bi-ConvLSTM</li>
        <li>TAConv3D</li>
    </ul>

    <h4>Decision maker module</h4>
    When both the spatial and temporal features have been extracted, it is time for the model to declare whether there is any accident in the video segment. Hence bringing the last module as the dicision maker module, structed by several dense layers with the last layer consists of just one neuron.
    This module will produce a possibility that a video segment contains accident. If the possibility is greater than a threshold (which is decided by looking at elbow curve of the thresholds used to compute ROC curve), then the video is predicted as having accident, else it is declared that no accident has occured.

    <!-- Curves -->

    <h3>Backbone and Model training curves</h3>
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  All
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-item" href="#" id="v-pills-all-tab">All</li>
                    {% for info in backbone_info %}
                        {% set name = info.name.replace(" ", "").lower() %}
                        <li class="dropdown-item" href="#" id="v-pills-{{ name }}-tab" >{{ info.name }}</li>
                    {% endfor %}
                </ul>
              </div>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            {% for info in backbone_info %}
                {% set name = info.name.replace(" ", "").lower() %}
                <div class="tab-pane fade {{ 'active' if loop.index == 1 else '' }}" id="v-pills-{{ name }}" role="tabpanel" aria-labelledby="v-pills-{{ name }}-tab">{{ info.name }}</div>
            {% endfor %}
        </div>
    </div>

    

    <div class="charts">
        <div>
            <canvas id="ROC-chart"></canvas>
        </div>

        <div>
            <canvas id="optiomal-threshold-chart"></canvas>
        </div>

        <div>
            <canvas id="AUC-chart"></canvas>
        </div>

        <div>
            <div id="cm"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    class BackboneInfo {
        constructor(name, fpr, tpr, tresholds, auc) {
            this.name = name;
            this.fpr = fpr;
            this.tpr = tpr;
            this.tresholds = tresholds;
            this.auc = auc;
        }
    }
    
    const backbone_info = [];
    {% for info in backbone_info %}
        backbone_info.push(
            new BackboneInfo(
                "{{ info.name }}",
                {{ info.fpr }},
                {{ info.tpr }},
                {{ info.tresholds }},
                {{ info.auc }}
            ));
    {% endfor %}
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='statistics/script.js') }}"></script>
{% endblock %}
